<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Bem-vindo à Sinhá Bolos e Lanches! Encontre deliciosos bolos, salgados, sobremesas e bebidas feitos com carinho e ingredientes de qualidade.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/png" href="/images/logo-better-nobackground.png">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/back.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/carousel.css"> 
    <title>Início - Sinhá Bolos e Lanches</title>
</head>
<body>
    <%- include('../partials/header') %>

    <main>
        <div class="index-main-container">

            <h2 class="index-main-title">Boas vindas!</h2>

            <section class="carousel-container" aria-roledescription="carousel" aria-label="Produtos em destaque">
                <ul class="carousel-slides">
                    <li class="carousel-slide"><img src="/images/bolo_red_velvet.png" alt="Bolo Red Velvet em destaque"></li>
                    <li class="carousel-slide"><img src="/images/salgado_enroladinho_salsicha.png" alt="Salgado Enroladinho de Salsicha em destaque"></li>
                    <li class="carousel-slide"><img src="/images/mousse.png" alt="Sobremesa Mousse de Maracujá em destaque"></li>
                    <li class="carousel-slide"><img src="/images/cafe.png" alt="Bebida Café Expresso em destaque"></li>
                </ul>

                <button class="carousel-nav-btn left" id="prevBtn" aria-label="Slide anterior">
                    <i class="fas fa-chevron-left" aria-hidden="true"></i>
                </button>
                <button class="carousel-nav-btn right" id="nextBtn" aria-label="Próximo slide">
                    <i class="fas fa-chevron-right" aria-hidden="true"></i>
                </button>

                <div class="play-pause-control-container">
                    <button class="carousel-control-btn" id="playPauseBtn" aria-label="Pausar carrossel">
                        <i class="fas fa-pause" id="playPauseIcon" aria-hidden="true"></i>
                    </button>
                </div>

                <div class="carousel-dots" id="carouselDots">
                    </div>
            </section>

            <h2 class="index-main-title">Faça seu pedido agora mesmo!</h2>

            <nav class="index-section" aria-label="Navegação por categorias de produtos">
                <div class="index-section-category">
                    <a href="/products?categoria=bolo" class="index-section-link">
                        <img src="/images/cake-better-6.png" alt="Imagem da categoria Bolos" class="index-section-img">
                    </a>
                </div>
                <div class="index-section-category">
                    <a href="/products?categoria=salgado" class="index-section-link">
                        <img src="images/snacks-better-2.png" alt="Imagem da categoria Salgados" class="index-section-img">
                    </a>
                </div>

                <div class="index-section-category">
                    <a href="/products?categoria=bebida" class="index-section-link">
                        <img src="/images/drinks-better1.png" alt="Imagem da categoria Bebidas" class="index-section-img">
                    </a>
                </div>

                <div class="index-section-category">
                    <a href="/products?categoria=sobremesa" class="index-section-link">
                        <img src="/images/desserts-better4.png" alt="Imagem da categoria Sobremesas" class="index-section-img">
                    </a>
                </div>
            </nav>
        </div>
    </main>

    <%- include('../partials/footer') %>

    <script src="/js/utility.js"></script>
</body>
</html>